

body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: #003b36;
    background: linear-gradient(#012622, #008F83);
    color: #ECE5F0
    
}

h1, h2, h4 {
    text-shadow: 1px 1px 2px black; 
}



#bff-img{
    width: 150px;
    border-radius: 50%;
    border: 6px solid #E98A15;
    
    
}

#bday-age{
    margin: 5px 0 10px 0;
    background: #E98A15;
    padding: 5px 10px;
    border-radius: 5px;
    
} 

#bday-date {
    margin: 0px;
    background: #E98A15;
    padding: 5px 10px;
    border-radius: 5px;
    
}

#header{
       display: flex;
    flex-direction: column;
    align-items: center;
            
}

.gift-section{
    margin: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

.gift-section{
    margin-top: 50px;
    
}

#gift-img-cheers{
    height: 200px;
}

.gift-img{
    margin: 0px auto;
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 12px;
    background: linear-gradient(black,grey);
    background-image: url("images/Gift-box.webp");
    background-size: cover;
    
    
}

#gift-img-dancing:hover{
        background-image: url("images/dancing.webp");

}




#gift-img-excited:hover{
    background-image: url("images/excited.webp")
}




#gift-img-amazing:hover{
    background-image: url("images/amazing.webp")
}



#gift-img-nobody:hover{
    background-image: url("images/nobody.webp")
}

#gift-img-cheers:hover {
    background-image: url("images/cheers.webp");
}

#footer{
    font-style: italic;
    width: 400px;
    margin: 40px auto 30px;
}

a {
    color: white;
